/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23-jul-2017, 15:19:19
    Author     : Byron
*/

body {
    background:whitesmoke;
        /*border: ridge;*/

}
#contenedor{
    width: 98%;
    /*border: ridge;*/
    /*margin: 15px 20px;*/
/*    height: 615px;*/
    height: 647px;
    background: #FFFFFF;
}
#cuerpo{
    width: 75%; 
/*    border: ridge;width: 75%;width: 75%; */
    float: right;
    background: whitesmoke;
    
    /*.page-container .main-content*/
    position: relative;
    display: table-cell;
    vertical-align: top;
    padding: 20px;
    background: #FFFFFF;
}

#menu{
    width: 320px;
    /*border: ridge;*/
    height: 647px;
    float: left;
    background: #00a651;
    position: fixed;/*para mantener el fijamiento del contenido del menu*/
}

#titulo
{
    width: 100%;
    height: 75px;
    /*border: ridge;*/
    float: left; 
    border-bottom: #00a651;
    border-style: solid;
    border-top: hidden;
    border-left: hidden;
    border-right: hidden;
}

#contenido_cuerpo
{
    width: 100%;
    /*border: ridge;*/
    float: left;
    height: 500px;
    /* .page-container .main-content */
    position: relative;
    display: table-cell;
    vertical-align: top;
    padding: 20px;
    background: #FFFFFF;
    box-sizing: border-box;
    
}



/************************************************************************************
MEDIA QUERIES
*************************************************************************************/
/* para 980px o menos */
@media screen and (max-width: 980px) {
    #contenedor{
        width: 96%;
        margin: 15px 5px;
        height: 980px;        
    }

    #cuerpo {
        width: 100%;
        /*background: red;*/
    }
    #menu {
        width: auto;
        /*float: left;*/
        height: auto;   
        position: absolute; /*para quitar el fijamiento del contenido del menu*/
        /*visibility: hidden;*/
    }
    .scrollbar{
        height: auto;
	width: auto;
    }

}

/* para 700px o menos */
@media screen and (max-width: 700px) {
    #contenedor{
        height: auto; 
        /*background: blue;*/
        
    }
    #cuerpo {
    }
    #menu {
        width: auto;
        /*float: left;*/
        /*visibility: hidden;*/
        height: auto;   
    }

}

/* para 480px o menos */
@media screen and (max-width: 480px) {
    #contenedor{
        width: 98%;
        margin: 15px 5px;
        float: right; 
    }
    #header {
        height: auto;
        float: right;
    }
    #menu {
        /*float: left;*/
        width: auto;
        /*visibility: hidden;*/
        height: auto;   
    }
}

